.pageContainer {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 80vh;
}
.footer {
	position: relative;
	padding-bottom: 32px;
	height: 100px;
}

.preTitle {
	padding-top: 128px;
	color: var(--neutral-200);
}

.cardContainer {
	padding: 24px;
}

@media screen and (max-width: 600px) {
	.footer {
		padding-bottom: 128px;
	}
}
